[project]
authors = [{name = "Karson Chrispens", email = "karson.chrispens@ucsf.edu"}]
dependencies = ["atomworks[ml]"]
name = "sampleworks"
requires-python = ">= 3.11, <3.14"
version = "0.1.0"

[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64"]

[tool.pixi.dependencies]
pyarrow = "==17.0.0"
numpy = "<2.0"

[tool.pixi.pypi-dependencies]
sampleworks = { path = ".", editable = true }

[tool.pixi.system-requirements]
cuda = "12"

[tool.pixi.environments]
boltz = { features = ["boltz"]}

[tool.pixi.tasks]

[dependency-groups]
boltz = ["boltz"]